

<div class="formcontainer">
    <h1>Analyze image</h1>

    <form [formGroup]="createImageAnalysisJobForm" (submit)="enqueueImageAnalysisJob()">
        
        <span>
            <label for="path">path</label>
            <span>
                <input id="path" type="text" formControlName="path" >
            </span>
        </span>

        <span>
            <label for="type">device type</label>
            <span>
                <select formControlName="type">
                    <option *ngFor="let urlTypeVal of urlTypes" [ngValue]="urlTypeVal">{{ urlTypeVal }}</option>
                </select>
            </span>
        </span>
        
        <span>
            <label for="deviceId">deviceId</label>
            <select formControlName="deviceId">
                <option *ngFor="let deviceIdVal of deviceIds" [ngValue]="deviceIdVal">{{ deviceIdVal }}</option>
            </select>
        </span>
   
        <span>
            <button class="button" type="submit">Save</button>
        </span>
        
    </form>
</div>
