<div class="formcontainer">
    <h1>Create task</h1>

    <form [formGroup]="createScanJobForm" (submit)="enqueueScanJob()">
        
        <span>
            <label for="title">Type</label>
            <select formControlName="taskTitle">
                <option *ngFor="let taskTitle of taskList" [ngValue]="taskTitle">{{ taskTitle }}</option>
            </select>
        </span>
        <span>
            <label for="path">path</label>
            <span>
                <input id="devicePath" type="text" formControlName="devicePath" >
            </span>
        </span>
        <span>
            <label for="urlType">url type</label>
            <span>
                <select formControlName="urlType">
                    <option *ngFor="let urlTypeVal of urlTypes" [ngValue]="urlTypeVal">{{ urlTypeVal }}</option>
                </select>
            </span>
        </span>
        <span>
            <label for="deviceId">Device</label>
            <select formControlName="deviceId">
                <option *ngFor="let deviceIdVal of deviceIds" [ngValue]="deviceIdVal.id">{{ deviceIdVal.title }}</option>
            </select>
        </span>
   
        <span>
            <button class="button" type="submit">Save</button>
        </span>
        
    </form>
</div>
