<header>
  <div class="toolbar" role="banner">
    <span lang="sv"><img src="../assets/g207_white.png" alt="{{ title }}"></span>
    <nav class="toolbar-horizontal-nav">
      <span><a routerLink="/job-list" routerLinkActive="active" ariaCurrentWhenActive="page">Task list</a></span>
      <span><a routerLink="/imghash-list" routerLinkActive="active" ariaCurrentWhenActive="page">Image data</a></span>
      <span><a routerLink="/metadata-index" routerLinkActive="active" ariaCurrentWhenActive="page">File meta-data</a></span>
    </nav>
    
  </div>  
</header>

<div class="content" role="main">
  <section>
    <router-outlet></router-outlet>
  </section>
</div>

<footer>
  <div role="contentinfo">
    
  </div>
</footer>