
<h2>Tasks</h2>
<app-scanjob-add></app-scanjob-add>

<table>
    <thead>
        <tr>
            <th data-type="numeric">#</th>
            <th data-type="numeric">Status</th>
            <th data-type="numeric">Errormessage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of scanJobStatusData">
            <td><i class="fa fa-hashtag" style="font-size:16px;" title="{{ job.id }}"></i></td>
            <td>{{ job.status }}</td>
            <td>{{ job.errorMessage }}</td>
        </tr>
    </tbody>
</table>
<h4>Retrival date: {{scanJobStatusDataTs | date: 'HH:mm:ss (z)' }}</h4>
