<div class="pagetooolbar">
    <button type="button" (click)="enqueueScanJob()">Scan files</button>
</div>
<table>
    <thead>
        <tr>
            <th data-type="numeric">#</th>
            <th data-type="numeric">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of scanJobStatusData">
            <td>{{ job.id }}</td>
            <td>{{ job.status }}</td>
        </tr>
    </tbody>
</table>
<h4>Retrival date: {{scanJobStatusDataTs | date: 'HH:mm:ss (z)' }}</h4>
