<div class="formcontainer">
    <h1>Register Device</h1>

    <form [formGroup]="createDeviceForm" (submit)="createDevice()">
        
        <span>
            <label for="path">Title</label>
            <span>
                <input id="title" type="text" formControlName="title" >
            </span>
        </span>
        <span>
            <label for="path">Device path</label>
            <span>
                <input id="devicePath" type="text" formControlName="devicePath" >
            </span>
        </span>
   
        <div class="form-buttons-row">
            <button type="button" (click)="cancel()">Cancel</button>
            <button type="submit">Register</button>
        </div>
    </form>
</div>
