<div class="flex-container">
    <div class="main">
        <h2>Images</h2>
        <h3 class="table-caption">Number of entries: {{imgHashData? imgHashData.length : 0}}</h3>
        
        <table class="table-imagelist-data">
            <thead>
                <tr>
                    <th data-type="numeric">#</th>
                    <th data-type="numeric">Checksum</th>
                    <th data-type="numeric">Small file Id</th>
                    <th data-type="numeric">Device Path</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let imgHashDataEntry of imgHashData" (click)="fetchImage(imgHashDataEntry.properties.smallfiledataid)">
                    <td><i class="fa fa-hashtag" style="font-size:0.8em;" title="{{ imgHashDataEntry.id }}"></i></td>
                    <td class="cell-monospaced">{{ imgHashDataEntry.properties.checksum }}</td>
                    <td>{{ imgHashDataEntry.properties.smallfiledataid }}</td>
                    <td>{{ imgHashDataEntry.devicePath }}</td>
                </tr>
            </tbody>
            
        </table>
    </div>

    <div class="sidebar" *ngIf="selectedImage">
        
        <div class="imgash-img-details-container">
            <h1>Details</h1>
            <img [src]="selectedImage" *ngIf="selectedImage" class="selected-image">
            <button type="button" (click)="transformImage()">Transform Image</button>
        </div>
        
       
    </div>

</div>